*.sh text eol=lf
*.pdf binary
*.kicad_mod binary
*.gitattributes text
*.kicad_sch binary
*.kicad_pcb binary
*.kicad_pro binary
*.kicad_wks binary
*.kicad_sym binary
*.kicad_mod binary
*.yml text
*.gitignore text
*.lib text
*-table text
*.lock text
*.toml text
*.md text
*.step binary