name: Deploy Documentation
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
        - 'docs/*'
        - '*.kicad_sch'
        - '*.kicad_pcb'
        - '.github/workflows/*'

env:
  GIT_COMMITTER_NAME: ci-bot
  GIT_COMMITTER_EMAIL: sjsurobotics@gmail.com
jobs:
  generate:
    uses: ./.github/workflows/generate-outputs.yml
    with:
      project: 40Vservo
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/cache@v4
      name: Define a cache for the virtual environment based on the dependencies lock file
      with:
        path: ./.venv
        key: venv-${{ hashFiles('poetry.lock') }}
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install poetry
      uses: abatilo/actions-poetry@v2
    - name: Install the project dependencies
      run: poetry install --no-root
    - name: Build documenation
      run: poetry run mkdocs build
    - name: Remove unnecessary files
      run: rm -rdf .git .venv
    - name: Upload production files
      uses: actions/upload-artifact@v4
      with:
        name: documentation
        path: site

  deploy:
    runs-on: ubuntu-latest
    needs: [build, generate]
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: Download website artifact
      uses: actions/download-artifact@v4
      with:
        name: documentation

    - name: Download Output Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: '*-out'
        path: resources

    - name: Upload docs artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: '.'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4